.container{
    width: 32px;
    /* background-color: rgb(0, 0, 0); */
    padding-right: 3px;
}
.line01{
    transition: .23s;
    width: 75%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -5%;
    height: 1px;
    background-color: aliceblue;
}

.line03{
    transition: 0.23s;
    margin-top: 29%;
    margin-left: 12.5%;
    margin-right: 8%;
    width: 75%;
    height: 1px;
    background-color: aliceblue;
}
.line01-anim{
    transition: 0.4s;
    transform-origin: 100%;
    margin-left: 0%;

    transform: rotate(-45deg);
    animation: rotateleft .5s ease;
}
.line03-anim{
    transition: 0.4s;
    transform-origin: 50%;
    margin-bottom: 10%;
    margin-left: 10%;
    animation: rotateRight .5s ease;
    transform: rotate(45deg);
}
@keyframes rotateRight {
    0%{
        transform: rotate(0deg);
    }
    100%{
    transform: rotate(45deg);
    }
}
@keyframes rotateleft {
    0%{
       
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}
.slideIn{
    transform: translateX(0%);
    animation: slideIn 1.25s ease;
}
.slideOut{
    transition: 0.4s;
    opacity: 0;
    animation: slideOut 1.25s ease;
}
@keyframes slideIn {
    0%{
        opacity: 0;
        transform: translateY(0%);
    }
}
@keyframes slideOut {
    0%{
        opacity: 1;
    }
}
